@font-face {
  font-family: "Press Start 2P";
  src: url("./fonts/Press_Start_2P/PressStart2P-Regular.ttf");
}

:root {
  --clr-background-black: hsla(0, 0%, 0%, 0.7);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-size: 16px;
  line-height: 1.5;
}

html {
  height: 100%;
}

body {
  font-family: "Press Start 2P";
  height: 100%;
  background-image: url("./assets/background-opacity.png");
<<<<<<< HEAD
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

#game-container {
  color: rgb(255, 252, 247);
}

#right-panel {
  background-color: black;
  visibility: hidden;
  display: none;
}

#right-panel h3,
p {
  font-size: 0.75rem;
}

header {
  display: flex;
  align-items: center;
  padding: 0.5rem;
=======
  max-height: 100vh;
}

header {
  margin-bottom: 1rem;
}

header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

header img {
  filter: invert(100%);
}

.menu {
  display: none;
}

#username-score {
  text-align: center;
}

#username-score h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

#score-container {
>>>>>>> e6556ebaa3b8d54cfce9811975d96bc89a3dc4da
  background-color: var(--clr-background-black);
  border-bottom: 1px solid white;
}
header img {
  filter: invert(100);
}
header h1 {
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

main {
<<<<<<< HEAD
  padding: 1.5rem 1rem;
}

#main-top {
=======
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.5fr;
}

/* #main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
} */

main img {
  width: 150px;
  height: 150px;
  border: 3px solid white;
  border-radius: 100%;
  position: absolute;
  top: 47%;
  left: 25%;
}

.comessage {
  background-color: var(--clr-background-black);
>>>>>>> e6556ebaa3b8d54cfce9811975d96bc89a3dc4da
  text-align: center;
  background-color: var(--clr-background-black);
  width: fit-content;
  margin: auto;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  border: 1px solid white;
}

#main-top h2 {
  font-size: 2rem;
}

#score {
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
}

#xp-s {
  font-size: 0.5rem;
}

<<<<<<< HEAD
#cat {
  display: inline-block;
  position: absolute;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: clamp(15rem, 22vw, 18rem);
=======
footer {
>>>>>>> e6556ebaa3b8d54cfce9811975d96bc89a3dc4da
}

#grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 500px;
  margin-top: 3rem;
}

#grid li {
  margin: auto;
  text-align: center;
}

#grid img {
  margin-bottom: 0.5rem;
  width: clamp(1.5rem, 5vw, 6rem);
}

#html {
  grid-area: 1/1/2/2;
}
#css {
  grid-area: 1/5/2/6;
}
#javascript {
  grid-area: 3/5/4/6;
}
#react {
  grid-area: 5/3/6/4;
}
#sql {
  grid-area: 3/1/4/2;
}

#main-bottom p {
  border: 1px solid white;
  width: fit-content;
  margin: auto;
  padding: 2rem 10rem;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-size: 0.5rem;
  height: 0;
}

@media screen and (min-width: 768px) {
  body {
<<<<<<< HEAD
=======
    background-repeat: initial;
    background-size: cover;
>>>>>>> e6556ebaa3b8d54cfce9811975d96bc89a3dc4da
    display: flex;
  }

  #game-container {
    width: 67%;
  }

<<<<<<< HEAD
  #right-panel {
    width: 33%;
    visibility: visible;
    display: initial;
    border-left: 1px solid white;
  }

  #right-panel ul {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #right-panel .item-container {
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 80%;
  }

  #right-panel .item-img {
    margin-right: 1rem;
    max-width: 20%;
    height: fit-content;
  }

  #right-panel .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #right-panel .item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  #right-panel .item-description {
    font-size: 0.5rem;
  }

  #right-panel .item-title {
    font-size: 1.2rem;
  }

  #right-panel .item-count {
    font-size: 2rem;
  }

  #cat {
    right: 33%;
    margin-top: 0;
  }

  #grid {
    margin-top: 5rem;
  }

  footer {
    width: 67%;
  }

  #grid li {
    margin: initial;
    text-align: initial;
  }

  #grid #html,
  #grid #sql {
    text-align: right;
  }

  #grid #react {
    text-align: center;
=======
  #menu {
    width: 34%;
    background-color: black;
    height: 100vh;
  }
  main {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    max-height: 65vh;
    max-width: 50vw;
    margin: auto;
  }

  main img {
  }

  footer {
    position: fixed;
    bottom: 0px;
>>>>>>> e6556ebaa3b8d54cfce9811975d96bc89a3dc4da
  }
}
